# .git/info/exclude文件跟.gitignore文件的作用是一样的

# https://www.cnblogs.com/youyoui/p/8337147.html

########## 忽略某些文件 #####
# 1，对于项目日志和ide自动生成的某些文件，我们不想要将它们纳入版本控制，同时也不希望每次出现在未跟踪文件列表，因此我们可以创建一个.gitignore的文件，列出要忽略的文件模式。
# 2，首先需要执行命令$ touch .gitignore(有些是$ cat .gitignore)，在当前目录下生成.gitignore文件。
# 3，然后在.gitignore文件中列出要忽略的文件模式。.gitignore格式规范如下：
# 	所有空行或以注释符号"#"开头的行都会被git忽略。
# 	可以使用标准的glob模式匹配。
# 	匹配模式最后跟反斜杠(/)说明要忽略的是目录。
# 	要忽略除指定模式以外的所有文件，可以在模式前使用"!"取反。))

*.sh
# *.txt
